@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* Common Styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}
/* End of Common Styles */
