/* Resources */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

/* End of Resources */

/* Common Style */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito',sans-serif;
    font-weight: 400;
}

html{
    font-size: 62.5%;
}

.section-heading{
    font-size: 12rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: .5rem;
    text-align: center;
}
/* End of Common Style */

/* Section 1 */
.section-1{
    width:100%;
    height:100vh;
    background-color:#333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-1-icons i{
    font-size: 35rem;
    color: #a79a2d;
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .3s;
}

.section-1-icons i.change{
    transform: translate(-50%,-50%) scale(1);
    transition: transform .3s .3s;
}
/* End of Section 1 */

/* Section 2 */
.section-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    width:100%;
    height:100vh;
    padding: 10rem 0;
}

.cards-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card{
    width: 30rem;
    background-color: #a79a2d;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: space-between;
    align-items:center;
    position:relative;
    transform: rotateY(20deg) skewX(-2deg);
    box-shadow: 1rem 1rem 1rem #000;
    transition: transform .5s, box-shadow .5s;
}

.card:hover{
    transform: rotateY(20deg) skewX(-2deg) translateY(-2rem);
    box-shadow: 2rem 2rem 2rem #000;
}

.card::before{
    content: '';
    width: 1rem;
    height: 100%;
    background-color: #817824;
    position: absolute;
    top:0;
    left:-1rem;
    transform: skewY(45deg);
    transform-origin: right;
}

.card::after{
    content: '';
    width: 100%;
    height: 1rem;
    background-color: #8f8317;
    position: absolute;
    top:-1rem;
    left:0;
    transform: skewX(45deg);
    transform-origin: bottom;
}

.card-img{
    width: 100%;
}

.card-name{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .5rem;
    margin: 2rem 0; 
    text-transform: uppercase;
}

.card-btn{
    width: 70%;
    font-size: 1.5rem;
    background-color: #000;
    color: #888;
    font-weight: 800;
    padding: 1rem;
    border:none;
    border-radius: 5rem;
    box-shadow: -.1rem -.1rem -.1rem #000;
    cursor: pointer;
    transition: color .5s;
    text-transform: capitalize;
}
.card-btn:hover{
    color:#fff;
}
/* End of Section 2 */

/* Section 3 */
.section-3{
    background-color: #333;
    padding: 5rem 0;
}

.gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;
}

.gallery-link{
    position:relative;
    margin: 4rem 1rem;
    
}

.gallery-link::before{
    content:'';
    position:absolute;
    width: .2rem;
    height: 0;
    background-color: #fff;
    top: 2vw;
    left: 80%;
    transition: height .5s;
    z-index: 10;
}

.gallery-link:hover::before{
    height: 80%;
}

.gallery-link::after{
    content:'';
    position:absolute;
    width: 0;
    height: .2rem;
    background-color: #fff;
    top: 30%;
    left: 2rem;
    transition: width .5s;
}

.gallery-link:hover::after{
    width: 90%;
}

.food-name{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: width .3s;
}

.gallery-link:hover .food-name{
    width: 100%;
    transition: width 1.5s .5s;
}

.food-des{
    position: absolute;
    bottom: 3vw;
    left: 2rem;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .1rem;
    color:#fff;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
}

.gallery-link:hover .food-des{
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}

.food-img{
    width: 26vw;
    height: 15vw;
    object-fit: cover;
    box-shadow: .3rem .3rem .1rem #e92929,
                .5rem .5rem .1rem #a2a946,
                .7rem .7rem .1rem #297ce9,
                .9rem .9rem .1rem #e92999;
    transition: all 1s;
}

.gallery-link:hover .food-img{
    box-shadow: 1rem 1rem .1rem #e92929,
                2rem 2rem .1rem #a2a946,
                3rem 3rem .1rem #297ce9,
                4rem 4rem .1rem #e92999;
    filter: blur(.5rem);
    opacity: .5;
    transform: scale(1.1);
}

/* End of Section 3 */